.gallery-section {
  width: 80%;
  margin: 50px auto;
  display: flex;
  align-items: center;
  gap: 30px;
}

.gallery-image-container {
  flex: 1;
}

.gallery-section-image {
  width: 100%;
  height: auto;
  border-radius: 18px;
  object-fit: cover;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  display: block;
}

.gallery-text-box {
  flex: 1;
  background: rgba(255, 255, 255, 0.08);
  border: 3px solid var(--primaryTeal);
  padding: 30px;
  border-radius: 18px;
}

.gallery-text-box h2 {
  color: var(--primaryOrange);
  font-size: 34px;
  margin-bottom: 15px;
}

.gallery-text-box p {
  color: var(--primaryTeal);
  opacity: 0.9;
  line-height: 1.6;
  margin-bottom: 25px;
}

.gallery-view-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: var(--primaryOrange);
    font-family: Hammersmith One;
    font-weight: bold;
    font-size: 19px;
    border: 3px solid;
    border-radius: 14px;
    padding: 20px 20px;
    width: 150px;
    height: 70px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px 0px;
}

.gallery-view-button:hover {
  background-color: var(--primaryOrange);
  color: white;
  border: 3px solid var(--primaryOrange);
}

/* ----- WATERMARK ----- */

.gallery-watermark {
  position: relative;
  width: 100%;
}

.gallery-watermark::after {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("/watermark.svg");
  background-repeat: repeat;
  background-size: 200px 200px;

  opacity: 1;
  z-index: 10;
  pointer-events: none;
}
