@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Hammersmith One', sans-serif;
  padding: 1rem 1rem;
}

.home-header {
  width: 100%;
  display: flex;
  justify-content: center;  
  align-items: center;        
  gap: 1.2rem;               
  margin-bottom: 2rem;
  margin-top: 5rem;
}

.title-left {
  font-family: 'Neoneon', sans-serif;
  font-weight: 550;
  font-size: 100px;    
  gap: 1.2rem;     
  color: var(--primaryTeal);
}

.title-right {
  display: flex;
  flex-direction: column; 
  text-align: left;
  font-size: 32px;
  line-height: 0.9;
}

.contact-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1rem 1rem;
}

.home-images-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


.home-images {
  display: flex;
  justify-content: center;
  align-items: stretch; 
}

.home-image {
  width: 33.33%;
  height: 400px; 
  object-fit: cover;
  opacity: 0.5;
}

.home-logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.home-logo {
  width: 400px;
  height: auto;
}

.home-bottom-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}